.container {  
    display:flex;
} 

.desert {
    background-image: url('desert780x477.jpg');
    width: 780px;
    height: 477px;
    color: white; 
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.stream {
    background-image: url('stream420x240.jpg'); 
    width:420px;
    height:240px;
    color:white;
    display: flex;
    justify-content:;
    align-items:;
} 

.relax {
    background-image: url('relax420x237.jpg');
    width: 420px;
    height: 237px;
    color: white;   
}


.line {

}

h2{
    margin-top: 0;
}